.register {
    width: 358px;
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    justify-content: space-between;
    height: 550px;
}

@media screen and (max-width: 374px) {
    .register {
        width: 260px;
    }
}