.login__title {
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;

    text-align: center;
    align-self: center;
    color: #FFFFFF;

    margin: 0 0 50px 0;
    padding: 0;
}